<div class="form-group">
  <%= f.label name, class: 'control-label' %>
  <% if f.object.send(name) %>
    <div>
      <p class="form-control-static"><%= f.object.send(name).name %></p>
      <div class="checkbox">
        <label>
          <%= f.check_box :"remove_#{name}" %>
          Remove
        </label>
      </div>
    </div>
  <% end %>
  <%= f.file_field name %>
  <%= f.hidden_field :"retained_#{name}" %>
</div>
